<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
    <span class="roborto">NAVIGATION</span>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li class="nav-item">
            <a href="/" class="nav-link align-middle px-0">
                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
            </a>
        </li>
        <li>
            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Tickets </span><i class="bi bi-caret-down-fill"></i></a>
                <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                    <li>
                        <a href="/create-ticket" class="nav-link px-0"> <span class="d-none d-sm-inline">Create Ticket</span></a>
                    </li>
                    <li class="w-100">
                        <a href="/dashboard" class="nav-link px-0"> <span class="d-none d-sm-inline">My Tickets</span></a>
                    </li>
                    <li>
                        <a href="/all" class="nav-link px-0"> <span class="d-none d-sm-inline">All Tickets</span></a>
                    </li>
                </ul>
        </li>
        <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-layers"></i> <span class="ms-1 d-none d-sm-inline">Priority </span><i class="bi bi-caret-down-fill"></i></a>
                <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                    <li class="w-100">
                        <a href="/priority/1" class="nav-link px-0"> <span class="d-none d-sm-inline">Critical</span></a>
                    </li>
                    <li>
                        <a href="/priority/2" class="nav-link px-0"> <span class="d-none d-sm-inline">High</span></a>
                    </li>
                    <li>
                        <a href="/priority/3" class="nav-link px-0"> <span class="d-none d-sm-inline">Moderate</span></a>
                    </li>
                    <li>
                        <a href="/priority/4" class="nav-link px-0"> <span class="d-none d-sm-inline">Low</span></a>
                    </li>
                </ul>
        </li>
        <span class="roborto">ACCOUNT</span>
        {{#ifAdmin user_username}}
        <li>
            <a href="/manageusers" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span> </a>
        </li>
        {{/ifAdmin}}
        <li>
            <a href="/profile/" class="nav-link px-0 align-middle">
                <i class="fs-4 bi-gear"></i> <span class="ms-1 d-none d-sm-inline">Profile Settings</span> </a>
        </li>
    </ul>
    <hr>
</div>
