<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trackend</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      {{#if loggedIn}}
        <header>
          <h1>
            <a href="/">Trackend</a>
          </h1>
          <nav>
            <div class="dropdown pb-4">
              <a
                href="#"
                class="d-flex align-items-center text-decoration-none dropdown-toggle"
                id="dropdownUser1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="/images/user_image.png"
                  alt="hugenerd"
                  width="30"
                  height="30"
                  class="rounded-circle"
                />
                <span class="d-none d-sm-inline mx-1">User</span>
              </a>
              <ul
                class="dropdown-menu text-small shadow"
                aria-labelledby="dropdownUser1"
              >
                <li><a class="dropdown-item" href="/dashboard/">Settings</a></li>
                <li><a class="dropdown-item" href="/dashboard/">Profile</a></li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li><button id="logout" class="dropdown-item">Sign out</button></li>
              </ul>
            </div>
          </nav>
        </header>
      <main>
        <div class="container-fluid">
          <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
              {{> navigation}}
            </div>
            <div class="col py-3">
              {{{body}}}
            </div>
          </div>
        </div>
      </main>
    </div>
    {{else}}
    {{{body}}}
    {{/if}}

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script>

    <script type="text/javascript">
      var $table = $('#fresh-table')
      var $alertBtn = $('#alertBtn')

      window.operateEvents = {
        'click .like': function (e, value, row, index) {
          alert('You click like icon, row: ' + JSON.stringify(row))
          console.log(value, row, index)
        },
        'click .edit': function (e, value, row, index) {
          alert('You click edit icon, row: ' + JSON.stringify(row))
          console.log(value, row, index)
        },
        'click .remove': function (e, value, row, index) {
          $table.bootstrapTable('remove', {
            field: 'id',
            values: [row.id]
          })
        }
      }

      function operateFormatter(value, row, index) {
        return [
          '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
            '<i class="fa fa-heart"></i>',
          '</a>',
          '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-edit"></i>',
          '</a>',
          '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-remove"></i>',
          '</a>'
        ].join('')
      }

      $(function () {
        $table.bootstrapTable({
          classes: 'table table-hover table-striped',
          toolbar: '.toolbar',

          search: true,
          showRefresh: true,
          showToggle: true,
          showColumns: true,
          pagination: true,
          striped: true,
          sortable: true,
          pageSize: 8,
          pageList: [8, 10, 25, 50, 100],

          formatShowingRows: function (pageFrom, pageTo, totalRows) {
            return ''
          },
          formatRecordsPerPage: function (pageNumber) {
            return pageNumber + ' rows visible'
          }
        })

        $alertBtn.click(function () {
          alert('You pressed on Alert')
        })
      })

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
  </body>

</html>