<section class="dashboard-create shadow">
  <h2>Create New Ticket</h2>

  <form class="new-ticket-form">
    <div>
      <label for="ticket-title">Title</label>
      <input type="text" id="ticket-title" name="ticket-title" />
    </div>
    <div>
      <label for="ticket-text">Text</label>
      <textarea id="ticket-text" name="ticket-text"></textarea>
    </div>
    {{!-- <div>
      <label for="ticket-status">Status</label>
      <select name="ticket-status" id="ticket-status">
        <option value="TRUE">Open</option>
        <option value="FALSE">Closed</option>
      </select>
    </div> --}}
    <div>
      <label for="ticket-priority">Priority</label>
      <select name="ticket-priority" id="ticket-priority">
        <option value="1">Critical</option>
        <option value="2">High</option>
        <option value="3">Moderate</option>
        <option value="4">Low</option>
      </select>
    </div>
    <div>
      <label for="ticket-type">Type</label>
      <select name="ticket-type" id="ticket-type">
        <option value="1">Bug</option>
        <option value="2">IT</option>
        <option value="3">Security</option>
        <option value="4">Server</option>
        <option value="5">Other</option>
      </select>
    </div>
    <div>
      <label for="assigned">Assigned</label>
      <select name="assigned" id="assigned">
        {{#each users as |user|}}
        <option value='{{user.id}}'>{{user.username}}</option>
        {{/each}}
      </select>
    </div>
    <div>
      <label for="due-date">Due Date</label>
      <input type="date" id="due-date" name="due-date">
    </div>
    <button type="submit">Create</button>
  </form>
</section>

<script src="/javascript/add-ticket.js"></script>