<section class="dashboard-create">
  <h2>Create New Ticket</h2>

  <form class="new-ticket-form">
    <div>
      <label for="ticket-title">Title</label>
      <input type="text" id="ticket-title" name="ticket-title" />
    </div>
    <div>
      <label for="ticket-text">Text</label>
      <textarea id="ticket-text" name="ticket-text"></textarea>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if tickets.length}}
<section class="dashboard">
  <h2>Your Tickets</h2>
  <ol>
    {{#each tickets as |ticket|}}
    
    <li>
      {{> ticket-info ticket}}
      <a href="/dashboard/edit/{{ticket.id}}" class="edit-link">Edit ticket</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-ticket.js"></script>