{{#if tickets.length}}
<section class="dashboard">
  <h2>My Tickets</h2>
  <ol>
    {{#each tickets as |ticket|}}
    
    <li>
      {{> ticket-front ticket}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}