<div class="container">
  <div class="row">
    <div class="col">
      <span>Recent Updates:</span>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> recent-info ticket }}
        </li>
        {{/each}}
      </ol>
    </div>
    
    <div class="col">
    <span>Summary:</span>
    <ol class="summary-list">
      <i class="bi bi-pie-chart"> Placeholder</i>
      <li>{{critical_count}} critical priority tickets</li>
      <li>Number of {{level}} high priority tickets</li>
      <li>Number of {{level}} moderate priority tickets</li>
      <li>Number of {{level}} low priority tickets</li>
    </ol>
    </div>
  </div>
</div>

