<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      {{> navigation}}
    </div>
    <div class="col py-3">
      <ol class="post-list">
        {{#each posts as |post|}}
        <li>
          {{> post-info post }}
        </li>
        {{/each}}
      </ol>
    </div>
  </div>
</div>