<div class="container">
  <div class="row">
    <div class="col">
      <span>Recent Updates:</span>
      <ol class="ticket-list">
        {{#each tickets as |ticket|}}
        <li>
          {{> recent-info ticket }}
        </li>
        {{/each}}
      </ol>
    </div>
    
    <div class="col">
      <span>Summary:</span>
      {{#with tickets}} {{!-- how to change with to just 1 individual ticket? --}}
      <ol class="summary-list">
        <ul>{{critical_count}} critical priority tickets</ul>
        <ul>{{ticket.high_count}} high priority tickets</ul>
        <ul>{{moderate_count}} moderate priority tickets</ul>
        <ul>{{low_count}} low priority tickets</ul>
      </ol>
      {{/with}}
    </div>
  </div>
</div>

