<div class="d-flex flex-column align-items-center justify-content-center center flex-fill">
  <h1>Trackend Login</h1>
  <form class="login-form">
    <div>
      <label for="username-login">Username:</label>
      <input type="text" id="username-login" />
    </div>
    <div>
      <label for="password-login">Password:</label>
      <input type="password" id="password-login" />
    </div>
    <div class="d-flex flex-column align-items-center">
      <button class="w-100" type="submit">Login</button>
    </div>
  </form>

  <div>Forgot your <a href="/signup">Password?</a></div>
  <div>Create an Account? <a href="/signup">Sign Up</a></div>
  <div>Sign in as a <a type="guest"><span id="login-guest">Guest</span></a></div>
</div>


<script src="/javascript/login.js"></script>