<h2>User List</h2>

<div class="fresh-table toolbar-color-azure">
  <!--
    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
    Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
  -->

  <div class="toolbar">
    <button id="alertBtn" class="btn btn-default">Create Ticket</button>
  </div>

  <table id="fresh-table" class="table">
    <thead>
      <th data-field="status" data-sortable="true">Status</th>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="title" data-sortable="true">Title</th>
      <th data-field="type" data-sortable="true">Type</th>
      <th data-field="priority" data-sortable="true">Priority</th>
      <th data-field="assigned" data-sortable="true">Assigned To</th>
      <th data-field="due" data-sortable="true">Due By</th>
      {{!-- <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th> --}}
    </thead>
    <tbody>
      {{#each user}}
        {{>user-info}}
      {{/each}}
    </tbody>
  </table>
</div>