{{!-- <table>
  <thead>
    <tr>
      <h2>Priority Tickets</h2>
      {{#each tickets.[0]}}
        <th>{{@key}}</th>
      {{/each}}
    </tr>
  </thead>

  <tbody>
    {{#each tickets}}
      <tr>
        {{#each this}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table> --}}

<section class="dashboard">
  <h2>{{tickets.[0].priority.level}} Priority Tickets</h2>
  <div class="container">
    <div class="row">
      <div class="col">
        Status:
      </div>
      <div class="col">
        Title:
      </div>
      <div class="col-3">
        Description:
      </div>
      <div class="col">
        Level:
      </div>
      <div class="col">
        Latest:
      </div>
      <div class="col">
        Username:
      </div>
      <div class="col">
        Issued:
      </div>
      <div class="col">
        Comments:
      </div>
    </div>
  </div>
  <ol class="ticket-list">
    {{#each tickets as |ticket|}}
    <li>
      {{> priority-info}}
    </li>
    {{/each}}
  </ol>
</section>