<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<section class="dashboard">
  <h2>Table View</h2>
  <div class="container">
<table
  id="table"
  data-toggle="table"
  data-url="/javascript/data.json">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="title">Item Name</th>
          <th data-field="priority_id">priority_id</th>
        </tr>
      </thead>
    </table>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
