<section class="profile">
  <h3 class="shadow">Profile</h3>
  <div class="profile-section shadow">
    <div class="container">
      <div class="row flex-column">
        <div class="col">
          <div class="row">
            <span class="profile-key col">ID: </span><span class="profile-text col">{{profile.[0].id}}</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="profile-key col">Username: </span><span class="profile-text col">{{profile.[0].username}}</span>
          </div>
        </div>
        {{#ifGuest profile.[0].role.role}}
        <div class="col">
          <div class="row">
            <span class="profile-key col">Email: </span><span class="profile-text col">{{profile.[0].email}}</span>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <span class="profile-key col">Password: </span><span class="profile-text col">*********</span>
          </div>
        </div>
        {{/ifGuest}}
        <div class="col">
          <div class="row">
            <span class="profile-key col">Account Access: </span><span class="profile-text col">{{profile.[0].role.role}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>