<div class="d-flex flex-column align-items-center justify-content-center center flex-fill">
  <div class="login-signup-page shadow">
    <h1><big>T</big>RACKEND</h1>
    <h4 class="text-center">SIGNUP</h4>
    <form class="signup-form">
      <div>
        <label for="username-signup">Username:</label>
        <input class="w-100" type="text" id="username-signup" />
      </div>
      <div class="mt-4">
        <label for="email-signup">Email:</label>
        <input class="w-100" type="text" id="email-signup" />
      </div>
      <div class="mt-4">
        <label for="password-signup">Password:</label>
        <input class="w-100" type="password" id="password-signup" class="pwSignUp" /> <i class="bi bi-eye-slash" id="togglePassword"></i>
      </div>
      <div class="mt-4">
        <label for="confirm-password">Confirm Password:</label> 
        <input class="w-100" type="password" id="confirm-password" class="pwSignUp"/> <i class="bi bi-eye-slash" id="togglePassword2"></i>
      </div>
      <div class="mt-5 d-flex flex-column align-items-center">
        <button class="front-btn w-100" type="submit">Sign Up</button>
      </div>
    </form>

    <div class="mb-2">Already Have an Account? <a href="/login">Login</a></div>

    <form class="login-guest">
      <div>Sign in as a <button class="btn-guest" type="submit">Guest</button></div>
    </form>
    <form class="login-admin">
      <div>Sign in as an <button class="btn-admin" type="submit">Administrator</button></div>
    </form>

    <div class="github text-end"><a href="https://github.com/paperpatch/trackend" target="_blank"><i class="bi bi-github"></i></a></div>
  </div>
</div>

<script src="/javascript/signup.js"></script>