<h2>Detail List</h2>

{{> ticket-single ticket}}

<button><a href="/dashboard/edit/{{ticket.id}}" class="edit-link">Edit ticket</a></button>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

Comments:
{{> comments ticket.comments}}

<script src="/javascript/comment.js"></script>