<h3 class="ticket-detail-page-title">Ticket Detail</h3>

<section class="ticket-detail-section article shadow">
  {{> ticket-single ticket}}
</section>

{{#ifOpen ticket.status}}
<button><a href="/dashboard/edit/{{ticket.id}}" class="edit-link">Edit ticket</a></button>
<button type="button" class="close-ticket-btn" id="closeBtn" onclick="closeTicket()">Close Ticket</button>
{{else}}
<button type="button" class="reopen-ticket-btn" id="reopenBtn" onclick="reopenTicket()">Open Ticket</button>
{{/ifOpen}}


<div class="comments shadow">
  <h4>Discussion ({{ticket.comments.length}})</h4>
  {{#ifOpen ticket.status}}
  <form class="comment-form">
    <div>
      <textarea name="comment-body"></textarea>
    </div>

    <div>
      <button type="submit">Add Comment</button>
    </div>
  </form>
  {{/ifOpen}}

  {{> comments ticket.comments}}

</div>

<script src="/javascript/comment.js"></script>
<script src="/javascript/close-ticket.js"></script>
<script src="/javascript/reopen-ticket.js"></script>