/* Google Family Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300;400&family=Roboto:wght@100;400&display=swap');

:root {
  --theme-bg-color: #3d5974;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #f7f7f7;
}

main {
  flex: 1;
}

/* Header & Navigation Section */

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: var(--theme-bg-color);
}

h1 {
  margin: 0;
  text-shadow: 0 0 5px black;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: white;
  text-decoration: none;
}

.dropdown-toggle, .dropdown-toggle:active {
  color: white !important;
  text-shadow: 0 0 5px black;
}

nav a img {
  margin: 0 10px;
}

.navigation {
  background-color: white;
  width: 24rem;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-right: 0.5px solid #DCDCDC;
  
}

.navigation ul {
  margin: 0px 5px;
}

.nav-link {
  color: #191919;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  margin: 5px 0 5px 5px;
  font-size: 11px;
  font-weight: bold;
}

/* Pages Section */

.page-title {
  font-size: 18px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
}

.dashboard, .dashboard-create, .dashboard h2 {
  margin: 1%;
  padding: 1%;
}

.ticket-list, .dashboard ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ticket {
  line-height: 150%;
}

/* Ticket Detail Section */

.ticket-detail-page-title, .ticket-edit-page-title {
  margin: 1%;
  padding: 1%;
  font-family: 'lato', sans-serif;
  font-weight: bold;
}

.ticket-detail-section .container, .edit-ticket-form .container {
  margin: 0;
}

.ticket-detail-section .row, .ticket-edit-section .row {
  padding: 16px 10px;
}

.ticket-detail-title, .ticket-edit-title {
  font-size: 18px;
  font-weight: bold;
}

.ticket-detail-keytext, .ticket-edit-keytext {
  font-family: 'arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: grey;
  line-height: 1.8;
}

.ticket-detail-text, .ticket-edit-text {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.article, .edit-ticket-form, .comments {
  background-color: white;
  border-radius: 5px;
}

.article, .comments {
  margin: 1%;
  padding: 1%;
}

.comment-form {
  margin: 1%;
  padding: 1%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

/* Single, Create, and Edit Ticket Section */

.new-ticket-form input {
  width: 300px;
}

.ticket-edit-page-back {
  text-decoration: none;
  color: black;
}

.edit-link {
  color: white;
}

.edit-link:hover {
  color: white;
  text-decoration: none;
}

.edit-ticket-form {
  margin-bottom: 5%;
}

.edit-ticket-btn, .close-ticket-btn, .reopen-ticket-btn, .save-ticket-btn, .delete-ticket-btn {
  margin-left: 2%;
}

#statusDiv {
  display: none;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: sans-serif;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 60%;
  min-height: 100px;
}

/* Profile Section */

.profile h3 {
  z-index: 2;
  position: absolute;

  background-color: var(--theme-bg-color);
  border: 2px solid var(--theme-bg-color);
  border-radius: 3px;
  
  width: 70rem;
  color: white;
  font-family: 'open sans', sans-serif;
  font-size: 20px;
  margin: 2rem 0 0 5rem;
  padding: 20px;
}

.profile-section {
  z-index: 1;
  position: absolute;
  top: 100px;

  width: 75rem;
  background-color: white;
  margin: 3rem;
  padding: 50px 5px 30px 5px;
}

.profile-key, .profile-text {
  margin-left: 5rem;
  padding: 2rem;
  font-size: 18px;
}

.profile-key {
  border-right: 1px solid black;
}

/* Utility Section */

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.btn-guest {
  color: #225ca3;
  background-color: transparent;
  padding: 0%;
}

.btn-guest:hover {
  color: #3486eb;
  background-color: transparent;
}

.delete-ticket-btn {
  background-color: #d41414;
  margin: 0 0 3% 1%;
  padding-left: 1%;
}

.delete-ticket-btn:hover {
  background-color: #ff643d;
}