/* Google Family Font Import*/
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --theme-bg-color: #003049;
  --bg-color: #eae2b7;
  --body-color: #d62828;
  --body-color-2: #f77f00;
  --body-color-3: #fcbf49;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(#f7f7f7, var(--bg-color));
  background-size: 100% 100%;
  background-attachment: fixed;
}

main {
  flex: 1;
}

a{
  color: var(--body-color-2);
}

/* Login and Signup Section */

.login-signup-page {
  margin-bottom: 15rem;
  padding: 5rem;
  background: linear-gradient(#f7f7f7, var(--bg-color));
  background-size: 100% 100%;
  background-attachment: fixed;
  border-radius: 5px;
}

.login-signup-page h1 {
  font-weight: bold;
  color: var(--theme-bg-color);
  margin: 5rem 5rem 0 5rem;
}

.login-signup-page h4 {
  margin-bottom: 3rem;
}

.front-btn {
  font-size: 16px;
  height: 4rem;
}

.login-guest, .login-admin {
  margin: 0 auto;
}

.github {
  margin-top: 3rem;
  font-size: 3rem;
}
.github a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.github a:hover{
  color: var(--theme-bg-color);
}

/* Header & Navigation Section */

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--body-color-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  background-color: var(--theme-bg-color);
}

header h1 {
  margin: 0;
  text-shadow: 0 0 5px black;
}

header h1 a {
  color: white;
  text-decoration: none;
}

header h1 a:hover {
  color: white;
  text-decoration: none;
}

.dropdown-toggle, .dropdown-toggle:active {
  color: white !important;
  text-shadow: 0 0 5px black;
}

nav a img {
  margin: 0 10px;
}

.navigation {
  background-color: var(--bg-color);
  width: 20rem;
  font-family: 'Spline Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-right: 0.5px solid var(--body-color-3);
  
}

.navigation ul {
  margin: 0px 5px;
}

.nav-link {
  color: #191919;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: none;
}

.roboto {
  font-family: 'Spline Sans', sans-serif;
  margin: 5px 0 5px 5px;
  font-size: 11px;
  font-weight: bold;
}

/* Home Page Section */

.homepage, .container {
  margin: 15px;
}

.page-title {
  font-size: 22px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
  margin-left: 5%;
}

.summary-list {
  margin: 2% 5%;
  padding: 1%;
}

.card {
  background-color: white;
  border-radius: 5px;
  margin: 1%;
  padding: 5%;
}

.card-critical{
  background-color: var(--body-color);
}

.card-high{
  background-color: var(--body-color-2);
}

.card-moderate{
  background-color: var(--body-color-3);
}

.card-low{
  background-color: var(--bg-color);
}


.summary-card {
  font-size: 17px;
  margin: 15px;
}

.summary-number {
  font-size: 28px;
  font-weight: bold;
}

.recent-ticket-section {
  background-color: white;
  border-radius: 5px;
  margin: 3% 1%;
  padding: 2% 3%;
}

.recent-title {
  font-size: 18px;
  line-height: 2;
  font-family: 'Spline Sans', sans-serif;
}

.recent-text {
  font-size: 15px;
}

.recent-footer {
  margin-top: 1rem;
}

.summary-border {
  border-left: 1px solid black;
}

/* Dashboard Section */

.dashboard, .dashboard-create, .dashboard h2 {
  margin: 1%;
  padding: 1%;
}

.ticket-list, .dashboard ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ticket {
  line-height: 150%;
}

/* Ticket Detail and Edit Section */

.ticket-detail-page-title, .ticket-edit-page-title {
  margin: 1%;
  padding: 1%;
  font-family: 'Spline Sans', sans-serif;
  font-weight: bold;
}

.ticket-edit-section {
  margin: 1%;
}

.ticket-detail-section .container, .ticket-edit-section .container {
  margin: 0;
}

.ticket-detail-section .row, .ticket-edit-section .row {
  padding: 16px 10px;
}

.ticket-detail-title, .ticket-edit-title {
  font-size: 18px;
  font-weight: bold;
}

.ticket-detail-keytext, .ticket-edit-keytext {
  font-family: 'arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: grey;
  line-height: 1.8;
}

.ticket-detail-text, .ticket-edit-text {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.ticket-edit-page-back {
  margin: 1%;
  font-size: 16px;
}

.article, .edit-ticket-form, .comments {
  background-color: white;
  border-radius: 5px;
}

.article, .comments {
  margin: 1%;
  padding: 1%;
}

.comment-form {
  margin: 1%;
  padding: 1%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

/* Single, Create, Edit Continued Section */

.new-ticket-form input {
  width: 300px;
}

.ticket-edit-page-back {
  text-decoration: none;
  color: black;
}

.edit-link {
  color: white;
}

.edit-link:hover {
  color: white;
  text-decoration: none;
}

.edit-ticket-form {
  margin-bottom: 5%;
}

.edit-ticket-btn, .close-ticket-btn, .reopen-ticket-btn, .save-ticket-btn, .delete-ticket-btn {
  margin-left: 2%;
}

#statusDiv {
  display: none;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: sans-serif;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid var(--body-color-3);
}

textarea {
  min-width: 60%;
  min-height: 100px;
}

/* Profile Section */

.profile h3 {
  z-index: 2;
  position: absolute;

  background-color: var(--theme-bg-color);
  border: 2px solid var(--theme-bg-color);
  border-radius: 3px;
  
  width: 70rem;
  color: white;
  font-family: 'open sans', sans-serif;
  font-size: 20px;
  margin: 2rem 0 0 3rem;
  padding: 20px;
}

.profile-section {
  z-index: 1;
  position: absolute;
  top: 100px;

  width: 70rem;
  background-color: white;
  margin: 3rem;
  padding: 50px 5px 30px 5px;
}

.profile-key, .profile-text {
  margin-left: 5rem;
  padding: 2rem;
  font-size: 18px;
}

.profile-key {
  border-right: 1px solid black;
}

/* Utility Section */

button {
  background-color: var(--body-color-2);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--body-color-3);
}

.btn-guest, .btn-admin {
  color: var(--body-color-2);
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.btn-guest:hover, .btn-admin:hover {
  color: var(--body-color-3);
  background-color: transparent;
}

.delete-ticket-btn {
  background-color: var(--body-color);
  margin: 0 0 3% 1%;
  padding-left: 1%;
}

.delete-ticket-btn:hover {
  background-color: #ff643d;
}

/* The Modal (background) */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 50% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: auto; 
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.edit-comment-text {
  height: auto;
  width: 100%;
}